<div class="whole-div">
    <div class="">
        <p class="heading">Recent Notification</p>
    </div>
    <div class="notification-dtls d-flex">
        <div class="image">

        </div>
        <div class="">
            <p class="order-name mb-0 mt-2">New Order</p>
            <div>
                <span class="order-id">Order Id</span>&nbsp;
                <span class="order-status">Order Status</span>
                <span class="ordered-time ms-5">5min ago</span>
            </div>
        </div>
    </div>
</div>