<div class="container-fluid">
    <div class="heading mt-2">Add Product</div>
<div class="addproduct">
    <form [formGroup]="addProductForm">
        <div class="row p-3">
            <div class="col-lg-7 col-md-8">
                <div class="row">
                    <div class="col-6">
                        <label class="form-label label">Product ID<span class="required">*</span></label>
                        <input type="text" class="form-control" formControlName="productId">
                        <div *ngIf="p['productId'].errors && (p['productId'].touched)" 
                        class="error-message" >
                          <div *ngIf="p['productId'].errors['required']" >
                            Product ID cannot be blank</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label label">Max Retail Price(MRP)<span class="required">*</span></label>
                        <input type="text" class="form-control" formControlName="MRP" (keypress)="numberOnly($event)">
                        <div *ngIf="p['MRP'].errors && (p['MRP'].touched)" 
                        class="error-message" >
                          <div *ngIf="p['MRP'].errors['required']" >
                            MRP cannot be blank</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label label">Product Name<span class="required">*</span></label>
                        <input type="text" class="form-control" formControlName="productName">
                        <div *ngIf="p['productName'].errors && (p['productName'].touched)" 
                        class="error-message" >
                          <div *ngIf="p['productName'].errors['required']" >
                            Product Name cannot be blank</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label label">Sales Price<span class="required">*</span></label>
                        <input type="text" class="form-control" formControlName="salePrice" (keypress)="numberOnly($event)">
                        <div *ngIf="p['salePrice'].errors && (p['salePrice'].touched)" 
                        class="error-message" >
                          <div *ngIf="p['salePrice'].errors['required']" >
                            Sales Price cannot be blank</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label label">Product Category<span class="required">*</span></label>
                        <input type="text" class="form-control" formControlName="productCategory">
                        <div *ngIf="p['productCategory'].errors && (p['productCategory'].touched)" 
                        class="error-message" >
                          <div *ngIf="p['productCategory'].errors['required']" >
                            Product Category cannot be blank</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label label">Discount</label>
                        <input type="text" class="form-control" formControlName="discount" (keypress)="numberOnly($event)">
                    </div>
                    <div class="col-6">
                        <label class="form-label label">Status<span class="required">*</span></label>
                        <select class="form-select" formControlName="status">
                            <option  value="live">Live</option>
                            <option  value="offline">Offline</option>
                        </select>
                        <div *ngIf="p['status'].errors && (p['status'].touched)" 
                        class="error-message" >
                          <div *ngIf="p['status'].errors['required']" >
                            Status cannot be blank</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label label">No.of Units<span class="required">*</span></label>
                        <input type="text" class="form-control" formControlName="units" (keypress)="numberOnly($event)">
                        <div *ngIf="p['units'].errors && (p['units'].touched)" 
                        class="error-message" >
                          <div *ngIf="p['units'].errors['required']" >
                            No.of Units cannot be blank</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label label">Creation Date<span class="required">*</span></label>
                        <input type="text" class="form-control" formControlName="creationDate" readonly>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-3">
                <label class="form-label">Product Images</label>
                <div class="add-images">
                    <div class="d-flex justify-content-center" >
                        <label for="file-input"  class="">
                            <img for="file-input" class="add-image" src="./assets/images/add-images.png" >
                        </label>
                    </div>
                    <p class="image-text">Drag & Drop your product images here or 
                        <label for="file-input"  class="browse">click to browse</label>
                    </p>
                    <input
                      type="file" multiple
                      #fileInput
                      name="file-upload"
                      id="file-input"
                      accept="pdf, image/jpeg"
                      (change)="fileUpload($event)"
                      hidden
                      class="form-control form-control-sm matInput"
                      required
                    />
                </div>
                <div class="imagesControl mb-4 mt-3">
                    <ng-container *ngFor="let imageurl of imageArray">
                        <div class="image-box m-2">
                            <img class="select-image" src="{{imageurl}}" />
                        </div>
                    </ng-container>
                </div>
                <div class="">
                    <button class="btn submit-btn me-2">Submit</button>
                    <button class="btn cancel-btn">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
</div>

