.header {
    border-bottom: 1px solid #CBC9CF;
}

.header-div {
    height: 45px;
}

.addproduct {
    width: auto;
    height: 36px;
    background: transparent linear-gradient(180deg, #F8864E 0%, #F04242 100%) 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    border: none;
}

.plus {
    width: 20px;
    height: 20px;
}

.logo {
    opacity: 1;
    width: 128px;
    height: 40px;
    margin-left: 10px;
}

.add {
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.borderleft {
    border-left: 1px solid #DCDCDC !important;
    padding: 2px 10px;
}

.user-pic img {
    height: 35px;
    border-radius: 50%;
    width: 35px;
}

.user-name {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto';
    color: #000000;
}

.user-spec {
    font-size: 11px;
    font-weight: 500;
    font-family: 'Roboto';
    color: #656565;
}

.dropdown {
    width: 20px;
    height: 15px;
    cursor: pointer;
}
.dropdown-menu{
    background-color: #fff;
    width: 25%;
    margin-top: 12px !important;
    margin-left: 20px !important;
    padding: 0px !important;
}
.dropdown-img{
    width: 30px;
    height: 30px;
}
.profile{
    padding: 5px 15px;
    border-bottom: 1px solid #00000029;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto";
    letter-spacing: 0px;
    color: #6A6767;
    opacity: 1;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    height: 45px;
}

.header-text {
    display: flex;
    align-items: center;
    float: left;
    color: #f2f2f2;
    padding: 14px 12px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.headings-div {
    height: 45px;
}

.active {
    background: #fff;
    color: #000;
}