.header-height{
    height: 90px !important;
}
.totalContainer {
    width: 100%;
    // padding-top: 65px;
    height: auto;
}

.mainContent {
    height: auto;
    width: 99%;
    // width: calc(100% - 90px);
    padding: 0px;
    // padding-top: 55px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto; /* Enable vertical scrolling if content exceeds container height */
    height: calc(100% - 90px); /* Calculate the height to fit the viewport minus header height */
}
