.header-height{
    height: 90px !important;
}
.totalContainer {
    width: 100%;
    // padding-top: 65px;
    height: auto;
}

.mainContent {
    height: auto;
    // width: 100%;
    width: calc(100% - 90px);
    padding: 0px;
    padding-top: 55px;
    position: absolute;
}