<div class="main-div">
    <div class="screen-heading">Dashboard OverView</div>
    <div class="order-details-card">
        <div class="allSales-dtls">
            <div class="recent-sales">
                <div class="order-dtls-heading">Recent Sales</div>
                <div class="salescount">1255</div>
                <div class="profitLosspercentage">+12%</div>
            </div>

            <div class="individual-sales">
                <div class="order-dtls-heading">Order Received</div>
                <div class="salescount">1255</div>
                <div class="profitLosspercentage">+12%</div>
            </div>

            <div class="individual-sales">
                <div class="order-dtls-heading">Order Cancellation Request</div>
                <div class="salescount">1255</div>
                <div class="profitLosspercentage">+12%</div>
            </div>

            <div class="individual-sales">
                <div class="order-dtls-heading">Low Stock Notification</div>
                <div class="salescount">1255</div>
                <div class="profitLosspercentage">+12%</div>
            </div>

            <div class="individual-sales">
                <div class="order-dtls-heading">Average of Orders Returns</div>
                <div class="salescount">1255</div>
                <div class="profitLosspercentage">+12%</div>
            </div>

            <div class="individual-sales">
                <div class="order-dtls-heading">Orders in Process</div>
                <div class="salescount">1255</div>
                <div class="profitLosspercentage">+12%</div>
            </div>

            <!-- <div class="individual-sales">
                <div class="order-dtls-heading">Recent Sales</div>
                <div class="salescount">1255</div>
                <div class="profitLosspercentage">+12%</div>
            </div> -->
        </div>
    </div>

    <div class="graph-section">
        <div class="row">
            <div class="col-lg-8 col-md-8 orders-received-div">

            </div>
            <div class="col-lg-4 col-md-4 orders-cancelled-div">
                
            </div>
        </div>
    </div>
</div>