$primary-color:#E2EAF6;
$blue-300:#6183E4;
$gray-50:#F8FAFC;
$gray-400:#F1F5F9;
$gray-500:#64748B;
$gray-600:#475569;
$gray-900:#0F172A;
$neutral-gray-400:#94A3B8;
$shades-white:#FFFFFF;
$neutral-gray-300:#CBD5E1;
$neutral-gray-200:#E2E8F0;
$popins:'Poppins', sans-serif;
$red-300:#EB4335;
$secondary-text:#717579;
$primaryDark:#1E1E1E;
$primaryLight:#64748B;
$primary-blue-500:#1D4ED8;
$green-300:#6EE7B7;
$green-900:#064E3B;
/*updated scss variables*/
$orange-300 :#F8864E;
$Roboto-regular:Roboto, Regular;
$Roboto-bold:Roboto, Bold;
$blue-600: #0071FF;
$orange-900: #FFF8EF;
$Orange-100: #F04242;